@charset "UTF-8";

@font-face {
    font-family: "NotoSans";
    src: url("/fonts/NotoSansKR-Regular.otf");
}

:root {
    --main-color: blue;
    --color-datk: #1D2231;
    --text-grey: #8390A2;
    --side-size: 250px;
}

html {
    overflow-y: scroll;
}

a {
    cursor: pointer;
}

input[type="checkbox"] {
    /* 	width: 30px; Desired width */
    /* 	height: 30px; Desired height */
    cursor: pointer;
}

.vertical-center {
    min-height: 100%;
    min-height: 70vh;

    display: flex;
    align-items: center;
}

.card-song {
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    border-radius: 0.3rem;
    /* 5px rounded corners */
}

.card-title {
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    border-radius: 0.3rem 0.3rem 0 0;
    /* 5px rounded corners */
}

.ck-editor__editable {
    height: 300px;
}

.las {
    display: inline;
    line-height: 1.5rem;
}

.pgBox {
    text-align: center;
    padding: 1rem;
}

.panel-collapse {
    cursor: default;
}

.BaseButton.size_default {
    min-width: 46px;
    height: 36px;
    margin-right: 10px;
    padding: 0 12px;
    font-size: 13px;
    line-height: 36px;
}

.BaseButton.size_mini {
    min-width: 43px;
    height: 26px;
    margin-right: 10px;
    font-size: 13px;
    line-height: 26px;
}

.BaseButton--skinGray {
    border: 1px solid transparent;
    background: #eff0f2;
    color: #000000;
}

.BaseButton--skinWarring {
    border: 1px solid transparent;
    background: #ffc107;
    color: #755800;
}

.BaseButton--skinGreen {
    border: 1px solid transparent;
    background: rgba(3, 199, 90, 0.12);
    color: #009f47;
}

.BaseButton {
    display: inline-block;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
}
