<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garam.web.rsvt.mapper.CustomerMapper">

	<sql id="customerColumns">
		no
		, sepa
		, name
		, address
		, tel1
		, tel2
		, fax
		, homepage
		, start
		, detail
		, trash
	</sql>

	<select id="selectCustomerAll" resultType="com.garam.web.rsvt.dto.CustomerDTO">
		SELECT

		<include refid="customerColumns" />

		FROM customer

		WHERE trash = 1;
	</select>

	<select id="selectCustomerName" parameterType="com.garam.web.rsvt.dto.CustomerDTO" resultType="com.garam.web.rsvt.dto.CustomerDTO">
		SELECT

		<include refid="customerColumns" />

		FROM customer

		<where>
			<if test="no > 0">AND no = #{no} </if>
			<if test="name != null">AND name = #{name} </if>
			<if test="sepa > 0">AND sepa = #{sepa} </if>
		</where>
	</select>

</mapper>